body {
  margin: 15px;
}

.search-container {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.button-container button {
  flex: 1 1 50%;
  margin: 0 3rem;
}

#board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  max-width: 20vw;
  min-width: 200px;
  margin: 3rem;
}

.full,
#full {
  background: linear-gradient(135deg, #fff, rgb(162, 255, 144));
}

.remote,
#remote {
  background: linear-gradient(135deg, #fff, rgb(219, 192, 255));
}

.part,
#part {
  background: linear-gradient(135deg, #fff, rgb(253, 255, 148));
}
